<!--Double navigation-->
<header>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['/welcome']" routerLinkActive="active">Explorer</a></mdb-navbar-brand>
    <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['/new_programme']" routerLinkActive="active">Creer un programme</a></mdb-navbar-brand>
    <!-- Collapsible content -->
    <!-- <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
      (click)="frame.show()" mdbWavesEffect>Launch Modal</button>-->
    <links> 

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" [routerLink]="['/welcome']" routerLinkActive="active" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> What We Do
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" [routerLink]="['/login']" routerLinkActive="active" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" [routerLink]="['/register']" routerLinkActive="active" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> Sign Up
          </a>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->

</header>
<!--/.Double navigation-->

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Fidelis</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-6">
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control" mdbInput
            mdbValidate>
          <label for="defaultForm-email">Your email</label>
          <mdb-error *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
            Input invalid
          </mdb-error>
          <mdb-success *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
            Input
            valid
          </mdb-success>
        </div>

        <div class="md-form mb-4">
          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
          <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
            mdbInput mdbValidate>
          <label for="defaultForm-pass">Your password</label>
          <mdb-error
            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input invalid
          </mdb-error>
          <mdb-success
            *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
            Input valid
          </mdb-success>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
      </div>
      </div>
      
        <div class="col-12 col-sm-6 col-lg-6">

          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
              <input type="text" id="orangeForm-name" class="form-control" [formControl]="signupFormModalName"
                     mdbInput mdbValidate>
              <label for="orangeForm-name">Your name</label>
              <mdb-error *ngIf="signupFormModalName.invalid && (signupFormModalName.dirty || signupFormModalName.touched)">
                Input invalid
              </mdb-error>
              <mdb-success *ngIf="signupFormModalName.valid && (signupFormModalName.dirty || signupFormModalName.touched)">
                Input valid
              </mdb-success>
            </div>
            <div class="md-form mb-5">
              <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
              <input type="email" id="orangeForm-email" class="form-control" [formControl]="signupFormModalEmail"
                     mdbInput mdbValidate>
              <label for="orangeForm-email">Your email</label>
              <mdb-error
                *ngIf="signupFormModalEmail.invalid && (signupFormModalEmail.dirty || signupFormModalEmail.touched)">Input
                invalid
              </mdb-error>
              <mdb-success
                *ngIf="signupFormModalEmail.valid && (signupFormModalEmail.dirty || signupFormModalEmail.touched)">Input
                valid
              </mdb-success>
            </div>
    
            <div class="md-form mb-4">
              <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
              <input type="password" id="orangeForm-pass" class="form-control" [formControl]="signupFormModalPassword"
                     mdbInput mdbValidate>
              <label for="orangeForm-pass">Your password</label>
              <mdb-error
                *ngIf="signupFormModalPassword.invalid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
                Input invalid
              </mdb-error>
              <mdb-success
                *ngIf="signupFormModalPassword.valid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
                Input valid
              </mdb-success>
            </div>
    
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect>Sign up</button>
          </div>

        </div>
        </div>
    </div>
  </div>
</div>